		
		<div class="hero-wrap hero-bread" style="background-image: url('/public/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
						<h1 class="mb-0 bread">Glasses</h1>
            <p class="breadcrumbs"><span>Designed by Laura Imami</span></p>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section bg-light">
    	<div class="container-fluid">
    		<div class="row">
				{{#each results}}
    			<div class="col-sm col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product-single" class="img-prod"><img class="img-fluid" src="/public/images/{{this.photoname}}" alt="Product Image">
    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">{{this.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>{{this.price}}.00€</span></p>
		    					</div>
	    					</div>
								<hr>
								<button
								class="snipcart-add-item"
								data-item-id="{{productId}}"
    							data-item-name="{{name}}"
    							data-item-price="{{price}}"
    							data-item-weight="{{weight}}"
    							data-item-url="/products/{{id}}"
								data-item-description="{{description}}"
								data-item-image="/public/images/{{photoname}}"
								data-item-max-quantity="50"
								data-item-quantity-step="1"
								>
								Add to cart <i class="ion-ios-add ml-1"></i>
							</button>
    					</div>
    				</div>
					</div>
					{{/each}}
					</div>
			</div>
		</div>
				</section>
    			
    